@theme {

	--animate-blur-in: blur-in 500ms forwards;

	@keyframes blur-in {
		from {
			backdrop-filter: blur(0px);
			background-color: rgba(0,0,0,0.0);
		}
		to {
			backdrop-filter: blur(8px);
			background-color: rgba(0,0,0,0.4);
		}
	}

	--animate-ping2: ping2 1s linear infinite;
	
	@keyframes ping2 {
		0% {
			@apply h-3 w-3;
		}
		100% {
			@apply h-9 w-9;
		}
	}

	--animate-wiggle: wiggle 0.5s linear infinite;
	
	@keyframes wiggle {
		0%, 100% {
			transform: rotate(-3deg);
		}
		50% {
			transform: rotate(3deg);
		}
	}

}