@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Chivo+Mono:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@source inline("{sm:,md:,lg:,xl:,}grid-cols-{1,2,3,4,5,6,7,8,9,10,11,12}");
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@theme {
	--font-sans: Archivo, Figtree, ui-sans-serif, system-ui, sans-serif;
}

/**
 * CSS Variables
 */

@layer base {

	/* --font-sans: Archivo, Figtree, ui-sans-serif, system-ui, sans-serif; */
	
	[data-theme="light"] {


		/**
		 * Background colors
		 */

		--bg-white:					theme(colors.white);

		--bg-accent:				theme(colors.emerald.500);
		--bg-accent-strong:			theme(colors.emerald.800);
		--bg-accent-soft:       	rgb(from var(--bg-accent) r g b / 50%);
		--bg-accent-softer: 		rgb(from var(--bg-accent) r g b / 25%);
		--bg-accent-softest: 		rgb(from var(--bg-accent) r g b / 10%);
		--bg-accent-gradient:		linear-gradient(theme(colors.emerald.500), theme(colors.emerald.600));
		--bg-accent-gradient-alt: 	linear-gradient(theme(colors.emerald.600), theme(colors.emerald.700));
		--bg-accent-gradient-flip:	linear-gradient(theme(colors.emerald.600), theme(colors.emerald.500));

		--bg-neutral:				theme(colors.slate.400);
		--bg-neutral-soft:      	rgb(from var(--bg-neutral) r g b / 50%);
		--bg-neutral-softer:		rgb(from var(--bg-neutral) r g b / 25%);
		--bg-neutral-softest:      	rgb(from var(--bg-neutral) r g b / 10%);
		--bg-neutral-gradient:			linear-gradient(theme(colors.slate.100), theme(colors.slate.200));
		--bg-neutral-gradient-flip:		linear-gradient(theme(colors.slate.200), theme(colors.slate.100));
		--bg-neutral-gradient-alt: 		linear-gradient(theme(colors.slate.200), theme(colors.slate.300));
		--bg-neutral-gradient-alt-flip: linear-gradient(theme(colors.slate.300), theme(colors.slate.200));

		--bg-danger:            	theme(colors.rose.500);
		--bg-danger-soft:			rgb(from var(--bg-danger) r g b / 50%);
		--bg-danger-softer: 		rgb(from var(--bg-danger) r g b / 25%);
		--bg-danger-softest:		rgb(from var(--bg-danger) r g b / 10%);
		--bg-danger-gradient:		linear-gradient(theme(colors.rose.500), theme(colors.rose.600));
		--bg-danger-gradient-alt:	linear-gradient(theme(colors.rose.600), theme(colors.rose.700));

		--background: 				theme(colors.slate.200);
		--surface:					theme(colors.slate.100);
		--bg-card:					var(--bg-neutral-softer);
		--bg-card-hover:			var(--bg-neutral-soft);
		--bg-input:                 var(--bg-white);
		--bg-modal:					var(--surface);
		--bg-nav:					var(--bg-accent-strong);
		--bg-nav-active:			var(--bg-accent-softest);

		--bg-tint-radial:			radial-gradient(
										rgb(from theme(colors.slate.800) r g b / 25%) 0%,
										transparent 66%
									);
									


		/**
		 * Border colors
		 */

		--border-white:				theme(colors.white);

		--border-accent:			theme(colors.emerald.500);
		--border-accent-strong:		theme(colors.emerald.700);
		--border-accent-soft: 		rgb(from var(--border-accent) r g b / 45%);
		--border-accent-softer:		rgb(from var(--border-accent) r g b / 30%);
		--border-accent-softest:	rgb(from var(--border-accent) r g b / 15%);

		--border-neutral:			theme(colors.slate.500);
		--border-neutral-strong:	theme(colors.slate.700);
		--border-neutral-soft:		rgb(from var(--border-neutral) r g b / 45%);
		--border-neutral-softer:	rgb(from var(--border-neutral) r g b / 30%);
		--border-neutral-softest: 	rgb(from var(--border-neutral) r g b / 15%);

		--border-danger: 			theme(colors.rose.500);
		--border-danger-strong: 	theme(colors.rose.700);
		--border-danger-soft: 		rgb(from var(--border-danger) r g b / 45%);
		--border-danger-softer:		rgb(from var(--border-danger) r g b / 30%);
		--border-danger-softest:	rgb(from var(--border-danger) r g b / 15%);

		--border-background: 		theme(colors.slate.200);
		--border-surface:			theme(colors.slate.100);
		--border-nav:				theme(colors.emerald.900);
		
		
		/**
		 * Text colors
		 */

		--text-white:				theme(colors.white);

		--text-accent: 				theme(colors.emerald.500);
		--text-accent-strong:		theme(colors.emerald.700);
		--text-accent-soft:     	rgb(from var(--text-accent) r g b / 60%);
		--text-accent-softer:   	rgb(from var(--text-accent) r g b / 45%);
		--text-accent-softest:  	rgb(from var(--text-accent) r g b / 30%);

		--text-neutral:				theme(colors.slate.500);
		--text-neutral-strong:		theme(colors.slate.700);
		--text-neutral-soft:    	rgb(from var(--text-neutral) r g b / 60%);
		--text-neutral-softer:  	rgb(from var(--text-neutral) r g b / 45%);
		--text-neutral-softest: 	rgb(from var(--text-neutral) r g b / 30%);

		--text-danger:				theme(colors.rose.500);
		--text-danger-strong:		theme(colors.rose.700);
		--text-danger-soft:    		rgb(from var(--text-danger) r g b / 60%);
		--text-danger-softer:  		rgb(from var(--text-danger) r g b / 45%);
		--text-danger-softest: 		rgb(from var(--text-danger) r g b / 30%);

		--text-disabled:			rgba(0,0,0, 0.2);
		--text-nav-link: 			theme(colors.emerald.400);
		--text-nav-link-hover: 		theme(colors.white);
		--text-placeholder:			theme(colors.slate.400);


		/**
		 * Shadow colors
		 */

		--shadow-highlight: 		rgba(255, 255, 255, 0.4);
		--shadow-lowlight: 			rgba(0, 0, 0, 0.1);
	}

	[data-theme="dark"] {


		/**
		 * Background colors
		 */

		--bg-white:					theme(colors.white);

		--bg-accent:				theme(colors.emerald.500);
		--bg-accent-strong:			theme(colors.emerald.800);
		--bg-accent-soft:       	rgb(from var(--bg-accent) r g b / 50%);
		--bg-accent-softer: 		rgb(from var(--bg-accent) r g b / 25%);
		--bg-accent-softest: 		rgb(from var(--bg-accent) r g b / 10%);
		--bg-accent-gradient:		linear-gradient(theme(colors.emerald.600), theme(colors.emerald.700));
		--bg-accent-gradient-alt: 	linear-gradient(theme(colors.emerald.500), theme(colors.emerald.600));
		
		--bg-neutral:				theme(colors.slate.600);
		--bg-neutral-soft:      	rgb(from var(--bg-neutral) r g b / 50%);
		--bg-neutral-softer:		rgb(from var(--bg-neutral) r g b / 25%);
		--bg-neutral-softest:      	rgb(from var(--bg-neutral) r g b / 10%);
		--bg-neutral-gradient:		linear-gradient(theme(colors.slate.900), theme(colors.slate.950));
		--bg-neutral-gradient-flip:	linear-gradient(theme(colors.slate.950), theme(colors.slate.900));
		--bg-neutral-gradient-alt: 	linear-gradient(theme(colors.slate.800), theme(colors.slate.900));
		--bg-neutral-gradient-alt-flip: linear-gradient(theme(colors.slate.900), theme(colors.slate.800));

		--bg-danger:            	theme(colors.rose.500);
		--bg-danger-soft:			rgb(from var(--bg-danger) r g b / 50%);
		--bg-danger-softer: 		rgb(from var(--bg-danger) r g b / 25%);
		--bg-danger-softest:		rgb(from var(--bg-danger) r g b / 10%);
		--bg-danger-gradient:		linear-gradient(theme(colors.rose.600), theme(colors.rose.700));
		--bg-danger-gradient-alt:	linear-gradient(theme(colors.rose.500), theme(colors.rose.600));

		--background: 			theme(colors.slate.950);
		--surface:				theme(colors.slate.950);
		--bg-card:				var(--bg-neutral-softer);
		--bg-card-hover:		var(--bg-neutral-soft);
		--bg-input:             theme(colors.slate.800);
		--bg-modal:				var(--surface);
		--bg-nav:				var(--surface);
		--bg-nav-active:		var(--bg-neutral-softest);


		/**
		 * Border colors
		 */

		--border-white:				theme(colors.white);

		--border-accent:			theme(colors.emerald.500);
		--border-accent-strong:		theme(colors.emerald.600);
		--border-accent-soft: 		rgb(from var(--border-accent) r g b / 45%);
		--border-accent-softer:		rgb(from var(--border-accent) r g b / 30%);
		--border-accent-softest:	rgb(from var(--border-accent) r g b / 15%);

		--border-neutral:			theme(colors.slate.500);
		--border-neutral-strong:	theme(colors.slate.300);
		--border-neutral-soft:		rgb(from var(--border-neutral) r g b / 45%);
		--border-neutral-softer:	rgb(from var(--border-neutral) r g b / 30%);
		--border-neutral-softest: 	rgb(from var(--border-neutral) r g b / 15%);

		--border-danger: 			theme(colors.rose.500);
		--border-danger-strong: 	theme(colors.rose.700);
		--border-danger-soft: 		rgb(from var(--border-danger) r g b / 45%);
		--border-danger-softer:		rgb(from var(--border-danger) r g b / 30%);
		--border-danger-softest:	rgb(from var(--border-danger) r g b / 15%);

		--border-nav:				var(--border-neutral-softest);


		/**
		 * Text colors
		 */

		--text-white:				theme(colors.white);

		--text-accent: 				theme(colors.emerald.500);
		--text-accent-strong:		theme(colors.emerald.700);
		--text-accent-soft:     	rgb(from var(--text-accent) r g b / 60%);
		--text-accent-softer:   	rgb(from var(--text-accent) r g b / 45%);
		--text-accent-softest:  	rgb(from var(--text-accent) r g b / 30%);

		--text-neutral:				theme(colors.slate.200);
		--text-neutral-strong:		theme(colors.slate.100);
		--text-neutral-soft:    	rgb(from var(--text-neutral) r g b / 60%);
		--text-neutral-softer:  	rgb(from var(--text-neutral) r g b / 45%);
		--text-neutral-softest: 	rgb(from var(--text-neutral) r g b / 30%);

		--text-danger:				theme(colors.rose.500);
		--text-danger-strong:		theme(colors.rose.700);
		--text-danger-soft:    		rgb(from var(--text-danger) r g b / 60%);
		--text-danger-softer:  		rgb(from var(--text-danger) r g b / 45%);
		--text-danger-softest: 		rgb(from var(--text-danger) r g b / 30%);

		--text-disabled:			rgba(255,255,255, 0.2);
		--text-nav-link: 			theme(colors.emerald.400);
		--text-nav-link-hover: 		theme(colors.white);
		--text-placeholder:			theme(colors.slate.400);







		/* --text-accent: 				theme(colors.emerald.500);
		--text-body: 				theme(colors.slate.300);
		--text-body-alt: 			theme(colors.slate.400);
		--text-danger: 				theme(colors.rose.400);
		--text-disabled:			rgba(255,255,255, 0.2);
		--text-input: 				theme(colors.slate.300);
		--text-input-hover: 		theme(colors.slate.200);
		--text-input-focus: 		theme(colors.emerald.400);
		--text-input-disabled: 		theme(colors.slate.700);
		--text-label: 				theme(colors.slate.500);
		--text-label-alt: 			theme(colors.slate.600);
		--text-link: 				theme(colors.emerald.400);
		--text-link-hover: 			theme(colors.emerald.500);
		--text-link-active: 		theme(colors.emerald.600);
		--text-link-disabled: 		theme(colors.slate.700);
		--text-nav-link: 			theme(colors.emerald.400);
		--text-nav-link-hover: 		theme(colors.white);
		--text-placeholder:			rgba(255,255,255, 0.4);
		--text-subtle:				theme(colors.slate.700);
		--text-white:				theme(colors.white); */

		--shadow-highlight: 		rgba(255, 255, 255, 0.1);
		--shadow-lowlight: 			rgba(0, 0, 0, 0.4);

		--gradient-primary:			linear-gradient(
										theme(colors.emerald.500),
										theme(colors.emerald.600)
									);
		--gradient-primary-alt: 	linear-gradient(
										theme(colors.emerald.400),
										theme(colors.emerald.500)
									);
		--gradient-secondary:		linear-gradient(
										theme(colors.slate.700),
										theme(colors.slate.800)
									);
		--gradient-secondary-alt: 	linear-gradient(
										theme(colors.slate.600),
										theme(colors.slate.700)
									);
		--gradient-danger:			linear-gradient(
										theme(colors.rose.500),
										theme(colors.rose.600)
									);
		--gradient-danger-alt:		linear-gradient(
										theme(colors.rose.400),
										theme(colors.rose.500)
									);
	}
}

/**
 * CSS Classes
 */

@layer utilities {

	.bg-surface 			{ background-color: var(--surface); }
	.bg-background 			{ background-color: var(--background); }
	.bg-nav 				{ background-color: var(--bg-accent-strong); }
	
	.bg-accent 				{ background-color: var(--bg-accent); }
	.bg-accent-strong 		{ background-color: var(--bg-accent-strong); }
	.bg-accent-soft 		{ background-color: var(--bg-accent-soft); }
	.bg-accent-softer 		{ background-color: var(--bg-accent-softer); }
	.bg-accent-softest 		{ background-color: var(--bg-accent-softest); }
	.bg-accent-gradient		{ background: 		var(--bg-accent-gradient); }
	.bg-accent-gradient-flip{ background: 		var(--bg-accent-gradient-flip); }
	.bg-neutral 			{ background-color: var(--bg-neutral); }
	.bg-neutral-strong 		{ background-color: var(--bg-neutral-strong); }
	.bg-neutral-soft 		{ background-color: var(--bg-neutral-soft); }
	.bg-neutral-softer 		{ background-color: var(--bg-neutral-softer); }
	.bg-neutral-softest 	{ background-color: var(--bg-neutral-softest); }
	.bg-neutral-gradient	{ background:		var(--bg-neutral-gradient); }
	.bg-neutral-gradient-alt { background:		var(--bg-neutral-gradient-alt); }
	.bg-danger 				{ background-color: var(--bg-danger); }
	.bg-danger-strong 		{ background-color: var(--bg-danger-strong); }
	.bg-danger-soft 		{ background-color: var(--bg-danger-soft); }
	.bg-danger-softer 		{ background-color: var(--bg-danger-softer); }
	.bg-danger-softest 		{ background-color: var(--bg-danger-softest); }
	.bg-danger-gradient		{ background:		var(--bg-danger-gradient); }
	.bg-stripes				{ background: repeating-linear-gradient( -45deg,
								var(--bg-neutral),  var(--bg-neutral) 8px,
								transparent 8px, transparent 16px
							); }
	.bg-stripes-soft		{ background: repeating-linear-gradient( -45deg,
								var(--bg-neutral-soft),  var(--bg-neutral-soft) 8px,
								transparent 8px, transparent 16px
							); }
	.bg-stripes-softer		{ background: repeating-linear-gradient( -45deg,
								var(--bg-neutral-softer),  var(--bg-neutral-softer) 8px,
								transparent 8px, transparent 16px
							); }
	.bg-stripes-softest		{ background: repeating-linear-gradient( -45deg,
								var(--bg-neutral-softest),  var(--bg-neutral-softest) 8px,
								transparent 8px, transparent 16px
							); }
	.bg-tint-radial			{ background: var(--bg-tint-radial); }

	.border-accent 			{ border-color: var(--border-accent); }
	.border-accent-strong 	{ border-color: var(--border-accent-strong); }
	.border-accent-soft 	{ border-color: var(--border-accent-soft); }
	.border-accent-softer 	{ border-color: var(--border-accent-softer); }
	.border-accent-softest 	{ border-color: var(--border-accent-softest); }
	.border-neutral 		{ border-color: var(--border-neutral); }
	.border-neutral-strong 	{ border-color: var(--border-neutral-strong); }
	.border-neutral-soft 	{ border-color: var(--border-neutral-soft); }
	.border-neutral-softer 	{ border-color: var(--border-neutral-softer); }
	.border-neutral-softest { border-color: var(--border-neutral-softest); }
	.border-danger 			{ border-color: var(--border-danger); }
	.border-danger-strong 	{ border-color: var(--border-danger-strong); }
	.border-danger-soft 	{ border-color: var(--border-danger-soft); }
	.border-danger-softer 	{ border-color: var(--border-danger-softer); }
	.border-danger-softest 	{ border-color: var(--border-danger-softest); }
	.border-surface 		{ border-color: var(--border-surface); }
	.border-background 		{ border-color: var(--border-background); }

	.text-accent 			{ color: var(--text-accent); }
	.text-accent-strong 	{ color: var(--text-accent-strong); }
	.text-accent-soft 		{ color: var(--text-accent-soft); }
	.text-accent-softer 	{ color: var(--text-accent-softer); }
	.text-accent-softest 	{ color: var(--text-accent-softest); }
	.text-neutral 			{ color: var(--text-neutral); }
	.text-neutral-strong 	{ color: var(--text-neutral-strong); }
	.text-neutral-soft 		{ color: var(--text-neutral-soft); }
	.text-neutral-softer 	{ color: var(--text-neutral-softer); }
	.text-neutral-softest 	{ color: var(--text-neutral-softest); }
	.text-danger 			{ color: var(--text-danger); }
	.text-danger-strong 	{ color: var(--text-danger-strong); }
	.text-danger-soft 		{ color: var(--text-danger-soft); }
	.text-danger-softer 	{ color: var(--text-danger-softer); }
	.text-danger-softest 	{ color: var(--text-danger-softest); }

	.text-nav-link			{ color: var(--text-nav-link); }
	.text-nav-link-hover	{ color: var(--text-nav-link-hover); }

	.font-style-h1 			{ @apply font-semibold text-8xl tracking-tighter; }
	.font-style-h2 			{ @apply font-semibold text-7xl tracking-tighter; }
	.font-style-h3 			{ @apply font-semibold text-5xl tracking-tighter; }
	.font-style-h4 			{ @apply font-bold text-3xl leading-[2rem]    tracking-tighter; }
	.font-style-h5 			{ @apply font-bold text-2xl leading-[1.75rem] tracking-tighter; }
	.font-style-h6 			{ @apply font-bold text-xl  leading-[1.5rem]  tracking-tighter; }
	
	.font-style-large		{ @apply text-lg; }
	.font-style-regular		{ @apply text-base; }
	.font-style-small		{ @apply text-sm; }
	.font-style-tiny		{ @apply text-xs; }
	.font-style-label		{ @apply text-xs; }

	.font-style-button		{ @apply font-medium text-xs uppercase leading-4 tracking-wider; }
	.font-style-input		{ @apply font-normal text-sm;
		font-family: Archivo, Figtree, ui-sans-serif, system-ui, sans-serif;
	}
	.font-style-placeholder	{
		@apply text-sm italic opacity-75;
		color: var(--text-neutral-softer);
	}

	.inner-shadow-xs		{ box-shadow: inset 0 0 0.25rem var(--bg-neutral-soft); }
	.inner-shadow-sm		{ box-shadow: inset 0 0 0.5rem var(--bg-neutral-soft); }
	.inner-shadow-md		{ box-shadow: inset 0 0 1rem var(--bg-neutral-soft); }
	.inner-shadow-lg		{ box-shadow: inset 0 0 2rem var(--bg-neutral-soft); }
	.inner-shadow-xl		{ box-shadow: inset 0 0 4rem var(--bg-neutral-soft); }






	.input:focus {
		/* @apply appearance-none focus:border-none focus:outline-none; */
		/* @apply rounded-lg; */
		box-shadow: 0 1px 0 var(--bg-accent);
		color: var(--text-accent);
		outline: 1px solid var(--border-accent);
		outline-offset: -1px;
		z-index: 10;
	}

	.style-disabled {
		opacity: 50%;
		cursor: not-allowed;

		* {
			pointer-events: none;
		}
	}

	p > a,
	span > a {
		color: var(--text-accent);
		&:hover {
			text-decoration: underline;
			text-underline-offset: 3px;
		}
	}

	code {
		background-color: var(--bg-neutral-softest);
		@apply px-1 py-0.5 rounded;
	}

	code,
	pre {
		font-family: 'Chivo Mono';
	}

}




/**
 * Browser and third-party overrides
 */

body {
	font-family: Archivo, Figtree, ui-sans-serif, system-ui, sans-serif;
}

[type="text"]:focus,
input:where(:not([type])):focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
	-webkit-appearance: none;
	appearance: none;
	border: none;
	box-shadow: none;
	outline: none;
}

[data-bits-floating-content-wrapper] {
	z-index: 100!important;
}

.default-theme.splitpanes--vertical > .splitpanes__splitter {
	background-color: transparent!important;
	border-left: 0px solid transparent!important;
	width: 0!important;
	&::before,
	&::after {
		background-color: transparent!important;
		display: inline-block;
		position: absolute;
		top: 0; bottom: 0;
		height: 100%!important;
		width: 4px!important;
		transform: translateXY(-50%, 0%)!important;
		z-index: 10!important;
	}
	&:hover {
		background-color: var(--bg-accent)!important;
	}
}



/*	Padding  */

.p-xs { @apply p-0.5; }
.p-sm { @apply p-1; }
.p-md { @apply p-1.5; }
.p-lg { @apply p-2; }
.p-xl { @apply p-4; }

.px-xs { @apply px-1; }
.px-sm { @apply px-1.5; }
.px-md { @apply px-2; }
.px-lg { @apply px-3; }
.px-xl { @apply px-6; }

.py-xs { @apply py-0; }
.py-sm { @apply py-0.5; }
.py-md { @apply py-1; }
.py-lg { @apply py-2; }
.py-xl { @apply py-4; }

.shadow-accent-strong	{ box-shadow: inset 0 -1px var(--border-accent-strong);   }
.shadow-accent-softest	{ box-shadow: inset 0 -1px var(--border-accent-softest);  }
.shadow-neutral-softest { box-shadow: inset 0 -1px var(--border-neutral-softest); }
.shadow-danger-strong   { box-shadow: inset 0 -1px var(--border-danger-strong);   }
.shadow-danger-softest  { box-shadow: inset 0 -1px var(--border-danger-softest);  }