@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@source inline("{sm:,md:,lg:,xl:,}grid-cols-{1,2,3,4,5,6,7,8,9,10,11,12}");
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@theme {
	--font-sans: Archivo, Figtree, ui-sans-serif, system-ui, sans-serif;
}

/**
 * CSS Variables
 */

@layer base {

	/* --font-sans: Archivo, Figtree, ui-sans-serif, system-ui, sans-serif; */
	
	[data-theme="light"] {


		/**
		 * Background colors
		 */

		--bg-white:					theme(colors.white);

		--bg-accent:				theme(colors.emerald.500);
		--bg-accent-strong:			theme(colors.emerald.800);
		--bg-accent-soft:       	rgb(from var(--bg-accent) r g b / 50%);
		--bg-accent-softer: 		rgb(from var(--bg-accent) r g b / 25%);
		--bg-accent-softest: 		rgb(from var(--bg-accent) r g b / 10%);
		--bg-accent-gradient:		linear-gradient(theme(colors.emerald.500), theme(colors.emerald.600));
		--bg-accent-gradient-alt: 	linear-gradient(theme(colors.emerald.600), theme(colors.emerald.700));

		--bg-neutral:				theme(colors.slate.400);
		--bg-neutral-soft:      	rgb(from var(--bg-neutral) r g b / 50%);
		--bg-neutral-softer:		rgb(from var(--bg-neutral) r g b / 25%);
		--bg-neutral-softest:      	rgb(from var(--bg-neutral) r g b / 10%);
		--bg-neutral-gradient:		linear-gradient(theme(colors.slate.100), theme(colors.slate.200));
		--bg-neutral-gradient-alt: 	linear-gradient(theme(colors.slate.200), theme(colors.slate.300));

		--bg-danger:            	theme(colors.rose.500);
		--bg-danger-soft:			rgb(from var(--bg-danger) r g b / 50%);
		--bg-danger-softer: 		rgb(from var(--bg-danger) r g b / 25%);
		--bg-danger-softest:		rgb(from var(--bg-danger) r g b / 10%);
		--bg-danger-gradient:		linear-gradient(theme(colors.rose.500), theme(colors.rose.600));
		--bg-danger-gradient-alt:	linear-gradient(theme(colors.rose.600), theme(colors.rose.700));

		--background: 				theme(colors.slate.200);
		--surface:					theme(colors.slate.100);
		--bg-card:					var(--bg-neutral-softer);
		--bg-card-hover:			var(--bg-neutral-soft);
		--bg-input:                 var(--bg-white);
		--bg-modal:					var(--surface);
		--bg-nav:					var(--bg-accent-strong);
		--bg-nav-active:			var(--bg-accent-softest);


		/**
		 * Border colors
		 */

		--border-white:				theme(colors.white);

		--border-accent:			theme(colors.emerald.500);
		--border-accent-strong:		theme(colors.emerald.700);
		--border-accent-soft: 		rgb(from var(--border-accent) r g b / 45%);
		--border-accent-softer:		rgb(from var(--border-accent) r g b / 30%);
		--border-accent-softest:	rgb(from var(--border-accent) r g b / 15%);

		--border-neutral:			theme(colors.slate.500);
		--border-neutral-strong:	theme(colors.slate.700);
		--border-neutral-soft:		rgb(from var(--border-neutral) r g b / 45%);
		--border-neutral-softer:	rgb(from var(--border-neutral) r g b / 30%);
		--border-neutral-softest: 	rgb(from var(--border-neutral) r g b / 15%);

		--border-danger: 			theme(colors.rose.500);
		--border-danger-strong: 	theme(colors.rose.700);
		--border-danger-soft: 		rgb(from var(--border-danger) r g b / 45%);
		--border-danger-softer:		rgb(from var(--border-danger) r g b / 30%);
		--border-danger-softest:	rgb(from var(--border-danger) r g b / 15%);

		--border-nav:				theme(colors.emerald.900);
		
		
		/**
		 * Text colors
		 */

		--text-white:				theme(colors.white);

		--text-accent: 				theme(colors.emerald.500);
		--text-accent-strong:		theme(colors.emerald.700);
		--text-accent-soft:     	rgb(from var(--text-accent) r g b / 60%);
		--text-accent-softer:   	rgb(from var(--text-accent) r g b / 45%);
		--text-accent-softest:  	rgb(from var(--text-accent) r g b / 30%);

		--text-neutral:				theme(colors.slate.500);
		--text-neutral-strong:		theme(colors.slate.700);
		--text-neutral-soft:    	rgb(from var(--text-neutral) r g b / 60%);
		--text-neutral-softer:  	rgb(from var(--text-neutral) r g b / 45%);
		--text-neutral-softest: 	rgb(from var(--text-neutral) r g b / 30%);

		--text-danger:				theme(colors.rose.500);
		--text-danger-strong:		theme(colors.rose.700);
		--text-danger-soft:    		rgb(from var(--text-danger) r g b / 60%);
		--text-danger-softer:  		rgb(from var(--text-danger) r g b / 45%);
		--text-danger-softest: 		rgb(from var(--text-danger) r g b / 30%);

		--text-disabled:			rgba(0,0,0, 0.2);
		--text-nav-link: 			theme(colors.emerald.400);
		--text-nav-link-hover: 		theme(colors.white);
		--text-placeholder:			theme(colors.slate.400);


		/**
		 * Shadow colors
		 */

		--shadow-highlight: 		rgba(255, 255, 255, 0.4);
		--shadow-lowlight: 			rgba(0, 0, 0, 0.1);
	}

	[data-theme="dark"] {

		/* Surfaces */

		--surface:				theme(colors.slate.900);
		--background: 			theme(colors.slate.950);
		/* --background: 				theme(colors.slate.950);
		--background-alt: 			theme(colors.slate.900);
		--surface:					theme(colors.slate.900); */

		/*	Background colors  |  Primitive  */

		--bg-white:					theme(colors.white);

		/*	Background colors  |  Semantic  */

		--bg-accent:				theme(colors.emerald.500);
		--bg-accent-strong:			theme(colors.emerald.800);
		--bg-accent-soft:       	rgb(from var(--bg-accent) r g b / 50%);
		--bg-accent-softer: 		rgb(from var(--bg-accent) r g b / 25%);
		--bg-accent-softest: 		rgb(from var(--bg-accent) r g b / 10%);
		--bg-accent-gradient:		linear-gradient(
										theme(colors.emerald.500),
										theme(colors.emerald.600)
									);
		--bg-accent-gradient-alt: 	linear-gradient(
										theme(colors.emerald.600),
										theme(colors.emerald.700)
									);
		
		--bg-neutral:				theme(colors.slate.600);
		--bg-neutral-soft:      	rgb(from var(--bg-neutral) r g b / 50%);
		--bg-neutral-softer:		rgb(from var(--bg-neutral) r g b / 25%);
		--bg-neutral-softest:      	rgb(from var(--bg-neutral) r g b / 10%);
		--bg-neutral-gradient:		linear-gradient(
										theme(colors.slate.100),
										theme(colors.slate.200)
									);
		--bg-neutral-gradient-alt: 	linear-gradient(
										theme(colors.slate.200),
										theme(colors.slate.300)
									);

		--bg-danger:            	theme(colors.rose.500);
		--bg-danger-soft:			rgb(from var(--bg-danger) r g b / 50%);
		--bg-danger-softer: 		rgb(from var(--bg-danger) r g b / 25%);
		--bg-danger-softest:		rgb(from var(--bg-danger) r g b / 10%);
		--bg-danger-gradient:		linear-gradient(
										theme(colors.rose.500),
										theme(colors.rose.600)
									);
		--bg-danger-gradient-alt:	linear-gradient(
										theme(colors.rose.600),
										theme(colors.rose.700)
									);

		/*	Background colors  |  Component  */

		--bg-card:					theme(colors.slate.800);
		--bg-nav:					var(--surface);
		--bg-nav-active:			var(--bg-neutral-softest);

		/* --bg-accent:				theme(colors.emerald.500);
		--bg-danger: 				theme(colors.rose.200);
		--bg-disabled:				theme(colors.slate.800);
		--bg-input:					theme(colors.slate.800);
		--bg-nav:					theme(colors.slate.900);
		--bg-nav-link:				theme(colors.slate.900);
		--bg-nav-link-hover: 		theme(colors.slate.800);
		--bg-white:					theme(colors.white); */



		/*	Border colors  |  Primitive  */

		--border-white:				theme(colors.white);

		/*	Border colors  |  Semantic  */

		--border-accent:			theme(colors.emerald.500);
		--border-accent-strong:		theme(colors.emerald.300);
		--border-accent-soft: 		rgb(from var(--border-accent) r g b / 45%);
		--border-accent-softer:		rgb(from var(--border-accent) r g b / 30%);
		--border-accent-softest:	rgb(from var(--border-accent) r g b / 15%);

		--border-neutral:			theme(colors.slate.500);
		--border-neutral-strong:	theme(colors.slate.300);
		--border-neutral-soft:		rgb(from var(--border-neutral) r g b / 45%);
		--border-neutral-softer:	rgb(from var(--border-neutral) r g b / 30%);
		--border-neutral-softest: 	rgb(from var(--border-neutral) r g b / 15%);

		--border-danger: 			theme(colors.rose.500);
		--border-danger-strong: 	theme(colors.rose.700);
		--border-danger-soft: 		rgb(from var(--border-danger) r g b / 45%);
		--border-danger-softer:		rgb(from var(--border-danger) r g b / 30%);
		--border-danger-softest:	rgb(from var(--border-danger) r g b / 15%);

		/*	Border colors  |  Component  */

		--border-nav:				var(--border-neutral-softest);

		/* --border-accent: 			theme(colors.emerald.400);
		--border-danger: 			theme(colors.rose.500);
		--border-disabled: 			theme(colors.slate.700);
		--border-divider: 			theme(colors.slate.700);
		--border-input: 			theme(colors.slate.800);
		--border-input-hover: 		theme(colors.slate.700);
		--border-focus: 			theme(colors.emerald.400);
		--border-nav:				theme(colors.slate.800);
		--border-primary:			theme(colors.emerald.950);
		--border-secondary: 		theme(colors.slate.950);
		--border-soft:				theme(colors.slate.800); */





		/*	Text colors  |  Primitive  */

		--text-white:				theme(colors.white);

		/*	Text colors  |  Semantic  */

		--text-accent: 				theme(colors.emerald.500);
		--text-accent-strong:		theme(colors.emerald.700);
		--text-accent-soft:     	rgb(from var(--text-accent) r g b / 60%);
		--text-accent-softer:   	rgb(from var(--text-accent) r g b / 45%);
		--text-accent-softest:  	rgb(from var(--text-accent) r g b / 30%);

		--text-neutral:				theme(colors.slate.500);
		--text-neutral-strong:		theme(colors.slate.700);
		--text-neutral-soft:    	rgb(from var(--text-neutral) r g b / 60%);
		--text-neutral-softer:  	rgb(from var(--text-neutral) r g b / 45%);
		--text-neutral-softest: 	rgb(from var(--text-neutral) r g b / 30%);

		--text-danger:				theme(colors.rose.500);
		--text-danger-strong:		theme(colors.rose.700);
		--text-danger-soft:    		rgb(from var(--text-danger) r g b / 60%);
		--text-danger-softer:  		rgb(from var(--text-danger) r g b / 45%);
		--text-danger-softest: 		rgb(from var(--text-danger) r g b / 30%);

		/*	Text colors  |  Component  */

		--text-disabled:			rgba(0,0,0, 0.2);
		--text-nav-link: 			theme(colors.emerald.400);
		--text-nav-link-hover: 		theme(colors.white);
		--text-placeholder:			theme(colors.slate.400);







		/* --text-accent: 				theme(colors.emerald.500);
		--text-body: 				theme(colors.slate.300);
		--text-body-alt: 			theme(colors.slate.400);
		--text-danger: 				theme(colors.rose.400);
		--text-disabled:			rgba(255,255,255, 0.2);
		--text-input: 				theme(colors.slate.300);
		--text-input-hover: 		theme(colors.slate.200);
		--text-input-focus: 		theme(colors.emerald.400);
		--text-input-disabled: 		theme(colors.slate.700);
		--text-label: 				theme(colors.slate.500);
		--text-label-alt: 			theme(colors.slate.600);
		--text-link: 				theme(colors.emerald.400);
		--text-link-hover: 			theme(colors.emerald.500);
		--text-link-active: 		theme(colors.emerald.600);
		--text-link-disabled: 		theme(colors.slate.700);
		--text-nav-link: 			theme(colors.emerald.400);
		--text-nav-link-hover: 		theme(colors.white);
		--text-placeholder:			rgba(255,255,255, 0.4);
		--text-subtle:				theme(colors.slate.700);
		--text-white:				theme(colors.white); */

		--shadow-highlight: 		rgba(255, 255, 255, 0.1);
		--shadow-lowlight: 			rgba(0, 0, 0, 0.4);

		--gradient-primary:			linear-gradient(
										theme(colors.emerald.500),
										theme(colors.emerald.600)
									);
		--gradient-primary-alt: 	linear-gradient(
										theme(colors.emerald.400),
										theme(colors.emerald.500)
									);
		--gradient-secondary:		linear-gradient(
										theme(colors.slate.700),
										theme(colors.slate.800)
									);
		--gradient-secondary-alt: 	linear-gradient(
										theme(colors.slate.600),
										theme(colors.slate.700)
									);
		--gradient-danger:			linear-gradient(
										theme(colors.rose.500),
										theme(colors.rose.600)
									);
		--gradient-danger-alt:		linear-gradient(
										theme(colors.rose.400),
										theme(colors.rose.500)
									);
	}
}

/**
 * CSS Classes
 */

@layer utilities {

	.bg-surface 			{ background-color: var(--surface); }
	.bg-background 			{ background-color: var(--background); }

	.font-style-h1 			{ @apply font-semibold text-8xl tracking-tighter; }
	.font-style-h2 			{ @apply font-semibold text-7xl tracking-tighter; }
	.font-style-h3 			{ @apply font-semibold text-5xl tracking-tighter; }
	.font-style-h4 			{ @apply font-semibold text-3xl tracking-tighter; }
	.font-style-h5 			{ @apply font-semibold text-2xl tracking-tighter; }
	.font-style-h6 			{ @apply font-semibold text-xl  tracking-tighter; }
	
	.font-style-large		{ @apply text-lg; }
	.font-style-regular		{ @apply text-base; }
	.font-style-small		{ @apply text-sm; }
	.font-style-tiny		{ @apply text-xs; }

	.font-style-button		{ @apply font-medium text-xs uppercase tracking-wider; }
	.font-style-input		{ @apply text-base; }
	.font-style-placeholder	{
		@apply text-base italic opacity-75;
		color: var(--text-neutral-softer);
	}

	.style-disabled {
		opacity: 50%;
		cursor: not-allowed;

		* {
			pointer-events: none;
		}
	}

	p > a {
		color: var(--text-accent);
		&:hover {
			text-decoration: underline;
			text-underline-offset: 3px;
		}
	}

	button:focus {
		@apply rounded-lg;
		box-shadow: 0 1px 0 var(--bg-accent);
		color: var(--text-accent);
		outline: 1px solid var(--border-accent);
		outline-offset: -1px;
	}

}




/**
 * Browser and third-party overrides
 */

body {
	font-family: Archivo, Figtree, ui-sans-serif, system-ui, sans-serif;
}

[type="text"]:focus,
input:where(:not([type])):focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
	-webkit-appearance: none;
	appearance: none;
	border: none;
	box-shadow: none;
	outline: none;
}

.default-theme.splitpanes--vertical > .splitpanes__splitter {
	background-color: transparent!important;
	border-left: 0px solid transparent!important;
	width: 0!important;
	&::before,
	&::after {
		background-color: transparent!important;
		display: inline-block;
		position: absolute;
		top: 0; bottom: 0;
		height: 100%!important;
		width: 4px!important;
		transform: translateXY(-50%, 0%)!important;
		z-index: 10!important;
	}
}

/* .card-grid-2  { @apply grid grid-cols-2;  }
.card-grid-3  { @apply grid grid-cols-3;  }
.card-grid-4  { @apply grid grid-cols-4;  }
.card-grid-5  { @apply grid grid-cols-5;  }
.card-grid-6  { @apply grid grid-cols-6;  }
.card-grid-7  { @apply grid grid-cols-7;  }
.card-grid-8  { @apply grid grid-cols-8;  }
.card-grid-9  { @apply grid grid-cols-9;  }
.card-grid-10 { @apply grid grid-cols-10; }
.card-grid-11 { @apply grid grid-cols-11; }
.card-grid-12 { @apply grid grid-cols-12; } */