@font-face {
    font-family: 'Switzer';
    src: url('/fonts/Switzer-Variable.woff2') format('woff2'),
         url('/fonts/Switzer-Variable.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Switzer';
    src: url('/fonts/Switzer-VariableItalic.woff2') format('woff2'),
         url('/fonts/Switzer-VariableItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}